.frame {
    display: inline-block;
    width: 100vw;
    background-color: var(--color-primary-700);
    margin-top: 20rem;
}

.contents {
    margin: auto;
    display: grid;
    padding: 3rem;
}

.iconGroup {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.icon {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0 0.7rem;
}

.contents p {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 3rem;
}

.contents p:last-child {
    padding-bottom: 0;
}

.contents h3 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    padding-bottom: 3rem;
}

.links {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.link {
    color: white;
    padding: 0 1rem;
    font-weight: 600;
}