.label {
    display: flex;
    width: 1290px;
    margin: auto;
    
}

.labelItem {
    flex: 1;
    background-color: var(--color-primary-300);
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 5px solid  #D7B7FF;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    font-size:30px;
    font-weight: 600;
}

.labelItem h4 {
    padding-right: 10px;
    padding-top: 10px;
    color: red;
}

.labelItem:hover {
    border-color:var(--color-primary-700);
    cursor: pointer;  
}

.box {
    margin: auto;
    width: 1100px;
    background-color: white;
    margin-top: 4rem;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
   display: flex;
   flex-direction: column;
   padding-left: 30px
   padding
}

.editButton {
    display: flex;
    justify-content: end;
    padding: 3rem
    
}
