  .header {
    color: black;
    background-color: white;
    height: 5.5rem;
    display: flex;
    justify-content: space-between; /* Adjusts items between left and right */
    align-items: center;
  }
  
  .left, .right {
    padding: 0 30px;
    display: flex;
    align-items: center;
    gap: 7px
  }
  
  .logo {
    font-size: 34px;
    font-weight: bold;
    color: var(--color-primary-700);
    text-decoration: none;
    padding-right: 14px;
  }
  
  .link {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 6px 15px;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
  }
  
  .link:hover,
  .active {
    border-radius: 6px;
    background-color: #DEE6FF;
    color: var(--color-primary-700);
    transform: scale(1.05); /* Slight increase in size */
  }

  .login, .logoutButton {
    font-size: 20px;
    text-decoration: none;
    background-color: white; 
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    color: black;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
  }

  .login:hover, .logoutButton:hover {
    background-color: #DEE6FF; 
    color: var(--color-primary-700);
    transform: scale(1.05); /* Slight increase in size */
  }
  
  .signupButton {
    background-color: var(--color-primary-700);
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
  }
  
  .signupButton:hover {
    background-color: var(--color-primary-900); /* Darker shade on hover */
    transform: scale(1.05); /* Slight increase in size */
  }
  
  .signupButton a, .loginButton a {
    color: white; /* Ensures text inside the button is white */
    text-decoration: none;
    display: block; /* Make the link fill the entire button */
    height: 100%; /* Ensures the link covers the full height of the button */
    width: 100%; /* Ensures the link covers the full width of the button */
  }
  
  .form {
    display: flex; /* Ensure form is inline with other items */
  } 
 
  
  .right {
    display: flex;
    align-items: center;
    gap: 10px; /* Reduced from 20px for tighter spacing */
  }

  .rightContent {
    display: flex;
    gap: 5px;
  }