.frame {
    width: 100%;
    border: 2px solid var(--color-primary-700);
    border-radius: 20px;   
}

.header {
    display: flex;
    padding: 2%;
}


.topImage {
    display: flex;
    align-items: center;
    padding-right: 4%;
}

.headerRight {
    display: flex;
    align-items: center;
    font-size: 200%;
    font-weight: 900;
    margin-left: auto;
    padding: 0 1%;
}

.detailFrame {
    margin-top: 0;
    padding: 0 2% 2% 2.5%;
}


.detailButton {
    display: flex;
    justify-content: end;
    margin-right: 6%;
    margin-top: 2%;
}

.headerItem {
    margin: 0;
    padding: 0;
}

.headerItem h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 2%;
}



