.frame {
    width: 100%;
    border: 2px solid var(--color-primary-700);
    border-radius: 10px;  
    margin: 0;
   box-sizing: border-box;
}

.header {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
}


.topImage {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

.headerRight {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    margin-left: auto;
    padding: 0 1rem;
}

.detailFrame {
    margin-top: 0;
    padding: 0 1.2rem 1.2rem 1.5rem;
}


.detailButton {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    margin-top: 1rem;
}

.headerItem {
    margin: 0;
    padding: 0;
}

.headerItem h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.8rem;
}



