.file {
    min-height: 874px;
    width: 1280px;
    margin: auto;
    background-image: linear-gradient(to bottom right, #033b70, #9853a0af );
    border: 5px solid var(--color-primary-700);
    border-radius: 0 0 20px 20px;
    display: flex;
    /* border-top: 0;  */
    z-index: 1; /* Ensuring it stays below the lifted labels */
    position: relative;
}