.bar {
    height: 44px;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

.bar h1 {
    font-size: 16px;
    padding: 0 10px
    
}

.formSelect {
    width: 225px;
    height: 30px; /* specific height instead of percentage */
    line-height: 25px; /* aligning line height with the height for vertical centering */
    text-align: center;
    background-color: white;
    border-radius: 0.7rem;   
    border: 2px solid var(--color-primary-900); /* Optional: Adds a border that might make it look more button-like */
    padding: 0 15px; /* Padding for better text visibility */
    cursor: pointer; /* Changes the cursor to indicate this is a clickable item */
}



