.selectedImageFrame {
    width: 50%;
    padding-bottom: 3rem;
}

.selectedImageFrame img {
    width: 100%;   
}

.imageList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem
}

.imageFrame{
    width: 100%;
}

.imageFrame img {
    width: 100%;
}

.imageFrame:hover {
    cursor: pointer;
}

.backButton {
    display: flex;
    justify-content: flex-end;
}
