.header {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: beige;
  }
  
  .list {
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color: mediumpurple;
  }
  
  .list a:hover,
  .list a.active {
    color: skyblue;
  }