<div className="SortBar" style={{width: 999, height: 44, position: 'relative'}}>
    <div className="Rectangle9" style={{width: 999, height: 44, left: 0, top: 0, position: 'absolute', background: '#315079', borderRadius: 10}} />
    <div className="SortBy" style={{width: 56.34, left: 19.11, top: 13, position: 'absolute', color: 'white', fontSize: 16.50, fontFamily: 'DM Sans', fontWeight: '400', wordWrap: 'break-word'}}>Sort by</div>
    <div className="Group16" style={{width: 245.47, height: 35, left: 77.47, top: 2, position: 'absolute'}}>
      <div className="Rectangle13" style={{width: 245.47, height: 29, left: 0, top: 6, position: 'absolute', background: 'white', borderRadius: 10}} />
      <div className="DurationShortToLong" style={{width: 178.07, left: 27.53, top: 11, position: 'absolute', color: 'black', fontSize: 16.50, fontFamily: 'DM Sans', fontWeight: '400', wordWrap: 'break-word'}}>Duration: Short to Long</div>
      <div style={{width: 11.07, left: 229.38, top: 31.04, position: 'absolute', transform: 'rotate(-179.77deg)', transformOrigin: '0 0', color: 'black', fontSize: 24, fontFamily: 'DM Sans', fontWeight: '400', wordWrap: 'break-word'}}>^</div>
    </div>
  </div>