.frame {
    width: 1216px;
    margin: auto;
    margin-top: 0;
}

.sortBar {
    padding-top: 50px;
}

.contents {
    width: 1216px;
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 295px;
}

.filter {
    margin: 0;
    padding: 0
}

.goToList {
    text-align: center; 
    margin-top: 10%; 
}

.right {
    width: 884px;
}

.buttonIcon {
    display: flex;
    text-align: center;
    padding-right: 0;
    margin-right: 0.1rem
}

