.label {
    display: flex;
    width: 1290px;
    margin: auto;
    padding-top: 5px;
    position: relative; /* To use z-index correctly */
    z-index: 2; /* Higher than file */
}

.labelItem {
    flex: 1;
    background-color: var(--color-primary-300);
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 5px solid  var(--color-primary-500);
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    font-size:30px;
    font-weight: 600;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* To enable correct shadow positioning */
}

.labelItem h4 {
    padding-right: 10px;
    padding-top: 10px;
    color: red;
}

.labelItem:not(.active):hover {
    border-color: var(--color-info-400);
    cursor: pointer;  
    transform: translateY(-5px);
    box-shadow: 0 5px 0px var(--color-primary-300); 
}

.active {
    border-color:var(--color-primary-700);
    background-color: var(--color-primary-700);
    color: white;
    cursor: pointer;  
    transform: translateY(-5px);
    box-shadow: 0 10px 0px var(--color-primary-700); 
    
}