.frame {
    width: 1216px;
    margin: auto;
    margin-top: 0;
}

.sortBar {
    padding-top: 50px;
}

.contents {
    width: 1216px;
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 295px;
}

.filter {
    margin: 0;
    padding: 0
}

.goToList {
    text-align: center; 
    margin-top: 10%; 
}

.right {
    width: 884px;
}

.buttonIcon {
    display: flex;
    text-align: center;
    padding-right: 0;
    margin-right: 0.1rem
}

p {
    margin: 0;
    padding: 0;
}

.detailIcons {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 17.5px;
    padding-bottom: 10px;
    gap: 10px;
}

.accordionDetail {
    display: flex;
    flex-wrap: wrap;
}

.activityLeft {
    width: 18%;
    margin-right: 2.5%;
    margin-left: 4.5%;
    padding-top: 0;
}

.activityRight {
    width: 68%;
    padding-top: 0;
}

.accordionReference {
    font-size: 70%;
    padding-bottom: 7%;
}

.totalDuration {
    display: flex;
    box-sizing: border-box;
    padding-top: 2%;
}

.group {
    display: flex;
    box-sizing: border-box;
}

.info {
    padding-left: 10px;
}

.labelTitle {
    font-weight: 600;
    padding-bottom: 5px;
}

.detailItem {
    padding-bottom: 10px;
}

.sum {
    font-size: 200%;
    padding-left: 10%;
    color:  #893392af;
}

.customList {
    display: flex;
    margin: 0 auto;
}

.listNum {
    font-weight: 400;
    padding-left: 5px;
    padding-right: 20px;
}

.right button {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    transform: scale(1.05); 
    box-sizing: border-box;
    background-color: transparent;
    border-color: transparent; 
}

.plusButton {
    font-size: 1.8em;
    color:  #893392af;
}

.trashButton {
    font-size: 1.8em;
}

.removeButton {
    font-size: 1.5em;
    color: black;
}

.right button:hover {   
    transform: scale(1.3);
    cursor: pointer;  
}

.playlistForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 100%;
}

.playlistForm input {
    padding: 0.3em;
    width: 27em;
    font-size: 20px;
    flex-grow: 1;
    margin-top: 0.5em;
    border: 1px solid var(--color-primary-700);
    border-radius: 5px;
}

.formButton {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-top: auto;
}

