.accordionComponent {
    margin-bottom: 0.7rem;
}

.activityItemComponent {
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--color-grey-300);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.listNum {
    font-size: 2rem;
    padding-left: 0.5rem;
}

.accordionComponent p {
    margin: 0;
    padding: 0;
}

.detailIcons {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
}

.accordionDetail {
    display: grid;
}

.leftDetailItems {
    width:100%;
    padding: 0;
    margin: 0;
}

.rightDetailItems {
    width: 100%;
    padding: 0;
    margin: 0;
}

.accordionReference {
    font-size: 0.7rem;
    padding-bottom: 3rem;
}

.durationGroup {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.labelTitle {
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.detailItem {
    width: 100%;
    padding-bottom: 0.8rem;
}

.buttonIcon {
    display: flex;
    text-align: center;
    padding-right: 0;
    margin-right: 0;
    font-size: 1.2rem;    
}

.accordionAgeGroup {
    display: flex;
    gap: 0.8rem;
    padding-bottom: 0.8rem;
}

.totalDuration {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding-left: 3rem;
}

.star {
    font-size: 2rem;
    color:  var(--color-info-500);
}

.playlistTitle{
    display: flex;
    gap: 1rem;
}

.playlistItemTrash {
    color: black;
    font-size: 1.3rem;
}

.plusIconButton {
    color: var(--color-info-500);
    font-size: 2.5rem;
}

.trashIconButton {
    color: black;
    font-size: 1.5rem;
    padding-right: 0.5rem;
}

.iconButtonGroup {
    display: grid;
    justify-content: end;
    text-align: end;
    gap: 1rem;
}

.customList {
    display: flex;
    gap: 1rem;
}

@media (min-width: 640px) {
    .accordionDetail {
        display: flex;
        margin-right: 3.1rem;
        gap: 1.2rem
    }

    .leftDetailItems {
        flex: 0 0 142px;
        padding-top: 0;
    }
    
    .rightDetailItems {
        flex: 1;
        padding-top: 0;
    }

    .accordionAgeGroup {
       display: block;
    }

    .totalDuration {
        padding-left: 0;
    }
}

