.outerFrame {
    width: 95%;
    max-width: 1216px;
    margin: 1.5rem auto;
}

.pageTitle {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.pageTitle h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
}

.titleIcon {
    font-size: 1.9rem;
    color: red;
    padding-top: 0.4rem;
    margin: 0;
}

.sortBar {
    width: 100%;
    margin: 0;
}

.filterButtons {
    display: flex;
    flex-wrap: wrap;  
    transition: transform 0.3s ease;
    margin-top: 0.7rem;
}

.bottomContents {
    width: 100%;
    max-width: 1216px;
    margin: 0;
    display: grid;
}

.bottomLeft {
    width: 100%;
    margin: 0;
}

.bottomRight {
    width: 100%;
}

.addPlaylistBComponent {
    padding-bottom: 0.7rem;
    transition: all 0.3s ease;
}


.playlistForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    width: 100%;
    transition: all 0.3s ease;
}

.playlistForm input {
    padding: 0.3em;
    width: 27em;
    font-size: 20px;
    flex-grow: 1;
    margin-top: 0.5em;
    border: 1px solid var(--color-primary-700);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.formButton {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-top: auto;
    transition: all 0.3s ease;
}

@media (min-width: 1300px) {
    .bottomContents {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .bottomLeft {
        width: 25%;
    }

    .bottomRight {
        width: 72%;
    }
    .addPlaylistBComponent {
        display: flex;
        justify-content: end;
        padding-bottom: 0.7rem;
    }
    
}





/* .frame {
    width: 1216px;
    margin: auto;
    margin-top: 0;
}

.sortBar {
    padding-top: 50px;
}

.contents {
    width: 1216px;
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 295px;
}

.filter {
    margin: 0;
    padding: 0
}

.goToList {
    text-align: center; 
    margin-top: 10%; 
}

.right {
    width: 884px;
}

.buttonIcon {
    display: flex;
    text-align: center;
    padding-right: 0;
    margin-right: 0.1rem
}

*/