.box {
    margin: auto;
    width: 1100px;
    background-color: white;
    margin-top: 4rem;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
   display: flex;
   flex-direction: column;
   
   padding-top: 3rem;
}

.item:first-child {
    padding-right: 3%;
    text-align: end;
}

.editButton {
    display: flex;
    justify-content: end;
    padding: 3rem
    
}