  .header {
    color: black;
    background-color: white;
    height: 5.5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow to the navbar */
    z-index: 1000;
  }
  
  .left, .right {
    padding: 0 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

 
  
  .logo {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--color-primary-700);
    text-decoration: none;
    padding-right: 0.8rem;
  }
  
  .link, .auth {
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 0.4rem 1rem;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
  }
  
  .link:hover,
  .active {
    border-radius: 6px;
    background-color: var(--color-primary-300);
    color: var(--color-primary-700);
    transform: scale(1.05); /* Slight increase in size */
  }

  .auth {
    text-decoration: none;
    background-color: white; 
    border: none;
    border-radius: 10px;
    justify-content: center;
  }

  .auth:hover {
    color: var(--color-primary-700);
    transform: scale(1.05); 
    cursor: pointer;
  }
  
  .signupButton {
    background-color: var(--color-primary-700);
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    color: white;
    font-size: 1.25rem;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and transform */
  }
  
  .signupButton:hover {
    background-color: var(--color-primary-900); /* Darker shade on hover */
    transform: scale(1.05); /* Slight increase in size */
    cursor: pointer;
  }
  
  .authFrame {
    display: flex; 
    align-content: center;
  } 

  .rightContent {
    display: flex;
    gap: 0.4rem;
  }

  .menuBox {
    display: none;
    padding-right: 1rem;
  }

  .menuIconComponent {
    padding-top: 0.6rem;
    font-size: 2rem;
    display: none; 
  }

  .menuComponent {
    width: 40vw;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: var(--color-primary-300);
    position: fixed;
    z-index: 1000;
    top: 4rem;
    right: 0;
  }

  .menuItem {
    font-size: 1rem;
    padding: 1rem;
  }

  @media (max-width: 1007px) {
    .header {
      height: 4rem;
    }
    
    .left, .right {
      padding: 0 1rem;
      gap: 0.5rem;
    }
    
    .logo {
      font-size: 1.5rem;
      padding-right: 0;
    }
    
    .link, .auth {
      font-size: 1rem;
      padding: 0.4rem 1rem;
    }

    .auth {
      padding: 0;
      margin: 0 0.4rem;
    }

    .signupButton {
      padding: 1rem 2rem;
      color: white;
      font-size: 1rem;
    }

  }

  @media (max-width: 640px) {
    .header {
      height: 4rem;
    }
    
    .left, .right {
      padding: 0 1rem;
    }

    .logo {
      font-size: 1.5rem;
    }

    .link, .rightContent {
      display: none;
    }

    .menuBox {
      display: grid;
      padding-right: 1rem;
    }
    
    .menuIconComponent {
      display: block;
    }

    .menuIconComponent:hover {
      cursor: pointer;
    }

    .menuComponent {
      display: grid;
    }

    .auth {
      font-size: 1rem;
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      color: var(--color-primary-700);
    }

    .auth:hover {
      transform: none;
    }
    
  }

 