.box {
    /* width: 18.75rem;
    height: 37.63rem;
    max-width: 300p; */
    width: 100%;
    border: 1px solid var(--color-primary-700);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 0;
    transition: all 0.3s ease;
}

.contents {
    width: 100%;
    padding-left: 1rem;
}

.box h1 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 0.3rem; 
    transition: all 0.3s ease; 
}

.box h2 {
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease; 
}

.checkbox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: .3rem 0;
    margin-bottom: 1rem;
    transition: all 0.3s ease; 
}

.viewButtons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    gap: 1.6rem;
    transition: all 0.3s ease; 
}

.clearButton {
    width: 5.75rem;
    height: 2.4rem;
    padding: 0 1rem;  /* Adjusted padding for better fitting */
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-size: 0.85rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s; 
    
}

.clearButton:hover,
.clearButton:active {
    transform: scale(1.1);
}

.clearButton:focus {
    outline: none;
}

@media (min-width: 410px) {
    .checkbox {
        grid-template-columns: repeat(3, 1fr); 
    }

    .viewButtons {
        margin-top: 3rem;
    }
 }

 @media (min-width: 590px) {
    .checkbox {
        grid-template-columns: repeat(4, 1fr); 
    }
 }


 @media (min-width: 780px) {
    .checkbox {
        grid-template-columns: repeat(6, 1fr); 
    }
 }

 @media (min-width: 1300px) {
    .box {
        width: 18.75rem;
        height: 37.63rem;
    }
    .checkbox {
        grid-template-columns: repeat(2, 1fr); 
    }
 }

