.frame {
    margin: auto;
    width: 1142px;
    border: 3px solid var(--color-primary-700);
    border-radius: 30px;
    background-color: var(--color-grey-100);
    padding: 3rem;
}

.frame h1 {
    font-size: 32px;
    font-weight: 600;
}

.login {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.login h1 {
    padding-bottom: 30px;
}

.form {
    padding-bottom: 80px;
}

.form h1 {
    color: black;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
}

.form label,
.form input,
.form h2 {
    color: black;
    font-size: 20px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 10px 0;
}

.form input {
    font-size: 18px;
    padding: 0 0.5rem;
    border: none;
    height: 37px;
    margin-bottom: 20px;
}

.form textarea {
    padding: 0.5rem 0.5rem;
    border: none;
    display: block;
    margin-bottom: 20px;
    width: 100%; 
}

.summary {
    font-size: 18px;
    height: 3rem;
}

.objectives {
    font-size: 18px;
    height: 4.5rem;
}

.references {
    font-size: 15px;
    height: 1rem;
}

.instructions {
    font-size: 18px;
    padding: 0.5rem 0.5rem;
    border: none;
    display: block;
    height: 37px;
    margin-bottom: 20px;
    width: 100%;
    height: 12rem;
}

.formSelect {
    width: 225px;
    height: 30px; 
    line-height: 25px; 
    text-align: center;
    background-color: white; 
    border: none;
    padding: 0 15px; 
    cursor: pointer; 
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 20px;
    margin-left: 5px;
    transform: scale(1.05); 
}

.formSelect:hover {
    transform: scale(1.1); 
}

.tagInput {
    width: 40%;
}


.beforeTag:hover,
.deleteTag:hover {
    transform: scale(1.1); 
    cursor: pointer;  
}

.deleteTag:hover {
    color: red;
    transform: scale(1.5)
}

.left {
    padding-bottom: 30px;
}

.right {
    float: right;
    padding-top: 30px;
}
