.main {
    width:100vw;
    max-width: 1440px;
    margin: auto;
}
 
.sortBar {
    padding: 0 1.8rem;
    padding-bottom: 1.8rem;
} 

.frame { 
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 1.8rem;
}



.right {
    width: 76%;
}

.list {
    display: flex;
    flex-wrap: wrap; 
   justify-content: space-between;
   
 }
 
 li {
     margin-bottom: 1.25rem;
 }

@media (max-width: 1348px) {
    .filter {
        display: none;
    }

    .right {
        width: 100%;
    }
}


