.main {
    width:100vw;
    max-width: 1440px;
    margin: auto;
}
 
.contents {
    width: 96%;
    margin: auto;
}

.sortBar {
    width: 100%;
    margin-bottom: 1.8rem
}

.frame {
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 0;
    gap: 1.8rem;
    transition: all 0.3s; 
 }
 
 .list li {
    transition: all 0.3s; 
 }

 .fButton {
    transition: transform 0.3s; 
}

 .fIcon {
    margin-top: 2px;
 }

@media (max-width: 1352px) {
    .list {
        gap: 0.7rem;
     }
}

@media (max-width: 1300px) {
    .sortBar {
        width: 61.5rem;
        margin: auto;
        margin-bottom: 0.7rem;
    }

    .frame {
        display: grid;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filterButtons {
        display: flex;
        flex-wrap: wrap;  
        margin-top: 0.7rem;
        margin-left: 0.3rem
    }

    .fButton:hover {
        transform: scale(1.1); 
        cursor: pointer; 
    }

}

@media (max-width: 1022px) {
    .sortBar {
        width: 41rem;
    }
}

@media (max-width: 676px) {
    .contents {
        width: 90%;
        margin: auto;
    }

    .sortBar {
        width: 100%
    }
}

