.accordionDetail {
    display: flex;
    flex-wrap: wrap;
}

.activityLeft {
    width: 21%;
    margin-right: 2.5%;
}

.activityRight {
    width: 70%
}

.accordionReference {
    font-size: 70%;
    padding-bottom: 7%;
}

.deleteButton {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: inline-flex;
    transform: scale(1.05); 
    font-size: inherit;
    font-weight: 400;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box; 
    background-color: var(var(--color-grey-100));
    border: 1px solid var(--color-primary-700);
}

.deleteButton:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.1);
}











.frame {
    width:1440px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.left {
    width: 315px;
    margin-left: 30px;
}

.right {
    float: right;
    margin-right: 30px;
}

.detailCard {
    width: 999px;
    border: 3px solid var(--color-primary-700);
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailContent {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin: 6rem
}


.detailCard h1 {
    font-size: 48px;
    font-weight: 600;
    padding: 20px 0;
}

.detailIcons {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    /* font-size: 35px; */
    /* padding-bottom: 5px; */
    font-size: 17.5px;
    padding-bottom: 0;
    gap: 10px;
}

.createrInfo {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.detailLeft {
    width: 200px;
    padding: 0;
    margin: 0;
}

.leftItem, .rightItem {
    width: 100%;
    font-size: 20px;
    padding-bottom: 5px
}


.leftTags {
    display: flex;
    flex-wrap: wrap;
}

.detailRight {
    width: 580px;
    padding: 0;
    margin: 0;
}

.reference {
    font-size: 13px;
}

.backButton {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-primary-700);
}

