.main {
    width:1440px;
    margin: auto;
}

.sortBar {
    padding: 0 30px;
}

.frame {
    width:1440px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.left {
    width: 315px;
    margin-left: 30px;
}

.right {
    float: right;
    margin-right: 30px;
}

.detailCard {
    width: 999px;
    border: 3px solid var(--color-primary-700);
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailContent {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    margin: 6rem
}


.detailCard h1 {
    font-size: 48px;
    font-weight: 600;
    padding: 1rem 0;
}

.detailIcons {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    padding-bottom: 1rem;
    gap: 1rem;
}

.detailIcons:hover {
    cursor: pointer;
}

.creatorInfo {
    font-size: 20px;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: space-between;
}

.creator {
    display: flex;
}

.creatorIcon {
    display: flex;
    text-align: center;
    padding-right: 1rem;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding-top: 2rem;
    font-size: 20px;
}

.detailLeft {
    width: 25%;
    padding: 0;
    margin: 0;
}

.leftTags {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding-top: 1rem;
}

.detailRight {
    width: 70%;
    padding: 0;
    margin: 0;
}

.detailItem {
    padding-bottom: 2rem;
}

.labelTitle {
    font-weight: 600;
    padding-bottom: 5px;
}

.reference {
    font-size: 13px;
}

.backButton {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-primary-700);
}



