.main {
    width:1440px;
    margin: auto;
}

.sortBar {
    padding: 0 30px;
}

.frame {
    width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.filter {
    margin-left: 30px;
}

.right {
    float: right;
    margin-right: 30px
}

.list {
    width: 999px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    float: right;
 }
 
 ul {
     list-style-type: none; 
     padding: 0;
     margin: 0; 
 }
 
 li {
     margin-bottom: 20px;
 }





