.errorComponent {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
}

.errorContents {
    display: flex;
    align-items: center;
}

.errorComponent h1 {
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    padding-left: 3rem;
    font-size: 1.6rem;
}

.imageComponent {
    width: 100%;
    max-width: 400px;
    position: static;
    z-index: 5;
}

.imageComponent img {
    width: 100%;
}

@media (min-width: 640px) {
    .errorComponent h1 {
        padding-left: 5rem;
        font-size: 2rem;
    }
}
